{% extends 'base.html' %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<section class="subscriptions">
    <div class="container">
        <h2 class = "title">{{ category.name }}</h2>
        <div class="subscriptions-list">
            {% for subscription in subscriptions %}
            <div class="subscription-card" style="background-image: url('{{ subscription.image_background }}'); background-size: cover; background-position: 65px;">
                <h3 class="subscription-card__title">{{subscription.title}}</h3>
                <h3 class="subscription-card__company">{{subscription.period}}</h3>
                <h3 class="subscription-card__title">{{subscription.cost}} &#36;</h3>
                <a href="{% url 'subscription_detail_page' pk=subscription.pk %}" class="dark-button">Просмотр</a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% else %}
<section class="access">
    <div class="container">
        <h1 class="title">Вы не зарегистрированы</h1>
        <p class="dark-text">Что бы продолжить использовать приложение, пожалуйста зарегестрируйтесь, и пройдите авторизацию</p>
        <div class="access-action">
            <a href="{% url 'sign_up_page' %}" class="dark-button">Регистрация</a>
            <a href="{% url 'login_page' %}" class="dark-button">Авторизация</a>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}